/* /*  your css code here. If applicable */
/* body{
	background-color: #f5f5f5;
}

.header{
	background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px;
}

.LatestNew{
	display: flex;
	align-items: space-around;
	width: 100%;
	margin-top: 10px;
}

.latest-news-section{
	padding: 5px;
	text-align: center;
	background-color: white;
	width: 25%;
	border-radius: 15px;
	height: 100%;
}
.pictorial-news-section{
	background-color: white;
	padding: 5px;
	width: 38%;
	text-align: center;
	border-radius: 15px;
	margin-left: 10px;
}

.main{
	background-color: white;
	padding: 2px;
	width: 38%;
	text-align: center;
	border-radius: 15px;
	margin-left: 10px;
	height: 100%;
}

img{
	width: 75%
}
 */ 

/* Style the header */
.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px;
	align-self: center;
}

/* Style the body */
body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

/* Style the latest news section */
.LatestNew{
	display: flex;
	align-items: space-around;
}

.latest-news-section {
    background-color: white;
    padding: 20px;
    width: 50%;
	border-radius: 15px;
	height: 50%;
	margin-top: 10px;
	
}

.latest-news-section h3 {
    margin-bottom: 2px;
}

.main{
	border-radius: 15px;
    margin-top: 10px;
	width: 100%;
	margin-left:5px;
	background-color: white;
	text-align: center;
	height: 30%
	
}
.main p{
	text-align: center;
}

/* Style the pictorial news section */
.pictorial-news-section {
    background-color: white;
    padding: 0px;
    width: 100%;
    /* float: right; */
    text-align: center;
    border-radius: 15px;
	margin-left:5px;
	margin-top: 10px;
	
}

.pictorial-news-section h3 {
    margin-bottom: 10px;
}

.pictorial-news-section img {
    margin: 10px;
    width: 200px;
}

